/* DG */
.state-bar {
  float: right;
  display: inline-block;
  margin: 25px 0; }
  .state-bar div {
    background: #e4e6ea;
    width: 180px;
    height: 4px;
    border-radius: 3px;
    display: inline-block;
    margin: 0 24px;
    top: -1px;
    position: relative; }
    @media only screen and (max-width: 991px) {
      .state-bar div {
        display: block;
        margin: 0; } }
    .state-bar div span {
      position: absolute;
      background-color: #0077ff;
      border-radius: 3px;
      width: 80%;
      height: 100%;
      left: 0;
      top: 0; }
  .state-bar p {
    font-size: 11px;
    display: inline-block;
    font-weight: bold;
    color: #354052; }
    .state-bar p span {
      font-weight: normal;
      font-size: 10px;
      color: #aab2c0;
      opacity: 0.8; }

.footer-num {
  margin: 20px 0; }
  .footer-num p {
    font-size: 11px;
    display: inline-block;
    color: #aab2c0; }
    .footer-num p span {
      font-size: 11px;
      color: #354052;
      opacity: 0.8;
      font-weight: bold; }
  @media only screen and (max-width: 991px) {
    .footer-num {
      margin-bottom: 100px; } }
