.navbar {
  background-color: #FFFFFF;
  padding: 9px 0px; }

.button.is-primary {
  background-color: #0077ff;
  font-size: 13px; }
  .button.is-primary:hover {
    background-color: #006AE7; }

a.r-item {
  color: #C1C1C1;
  font-size: 13px;
  padding: 0.5rem 1.75rem; }

.logo-img {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #0077ff;
  border-radius: 30px; }
  .logo-img:after {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #FFFFFF;
    border-radius: 30px;
    bottom: 5px;
    left: 13px; }
