@import '../../sass/mq.sass';

.navbar{
    background-color: #FFFFFF;
    padding: 9px 0px;
}
.button.is-primary {
    background-color: #0077ff;
    &:hover {
        background-color: #006AE7;
    }
}

a.r-item {
    color:#C1C1C1;
    padding: 0.5rem 1.75rem;
}

.logo-img {
    position: relative;
    width: 18px;
    height: 18px;
    background-color: #0077ff;
    border-radius: 30px;
    &:after {
        content: "";
        position: absolute;
        width: 4.5px;
        height: 4.5px;
        background-color: #FFFFFF;
        border-radius: 30px;
        bottom: 2px;
        left: 7px;
    }
}