.side-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 70px;
  height: 100%;
  padding-top: 100px;
  border-right: solid 0.5px #ebedf8; }

.item-side-menu {
  margin: 50px 10px 0px 10px;
  display: block; }
  .item-side-menu img {
    margin: 0 auto;
    display: block; }
  .item-side-menu:hover {
    transform: scale(1.07); }
