@import '../node_modules/bulma/bulma.sass';
@import './sass/fonts.scss';

.app-cont {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    *{
        font-family: 'Lato';
    }
}

.section-cont {
    width: 90%;
    max-width: 1024px;
    padding-left: 50px;
}

.section-title {
    margin: 30px 0;
    font-weight: bold;
    color: #1a173b;
}