@import '../node_modules/bulma/bulma.sass';
@import './sass/fonts.scss';

.app-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1980px;
    margin: 0 auto;
    *{
        font-family: 'Lato';
    }
}